#map, #menu {
    width: 600px;
    height: 600px;
}
#menu {
    border: 1px solid black
}

#data-cell {
    vertical-align: top;
}

#tour-div, #route-div, #attraction-div, #boatDiv{
    width: 599px;
    height: 120px;
    border: 1px solid black;
}

#tour-div, #route-div, #attraction-div {
    overflow:scroll
}

#tours-header-index, #attraction-header-index{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

#tours-header-index{
    left: 45%;
}

#attraction-header-index{
    left:40%
}

#tour-content, #attraction-content{
    display:none
}

.h1{
    text-align: center;
    font-size: 40px;
}

.h2{
    font-size: 25px
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 18px 55px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active{
    background-color: deepskyblue;
}

#aboutUsDiv {
    width: 70%;
    height: 25%;
    position: center;
}

#aboutUsBottomDiv {
    width: 76%;
    height: 18%;
    border: 1px solid black;
    position: absolute;
    bottom: 1%;
}